<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于报错以及捕获错误</title>
</head>
<body>
    <div class="main">
        <div class="content">

        </div>
    </div>
    <script>
        try {
            let value = prompt("请输入数字:");
            value = parseInt(value);
            if (isNaN(value)) {
                throw "数据异常";
            }
            // console.log('你好呀'); 会中执行
        } catch (e) {
            alert("错误信息"+e)
        }
        console.log("数据正常显示");
        document.write("数据正常显示");
    </script>
</body>
</html>