<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>变量提升</title>
    <style>
        .main{
            width: 800px;
            height: 600px;
            margin: 0 auto;
        }
        .main .content{
            width: 200px;
            height: 200px;
            margin: auto auto;
            background-color: #00FFFF;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="content">
            验证变量提升
        </div>
    </div>
    <script src="https://csdnimg.cn/public/common/libs/jquery/jquery-1.9.1.min.js" type="text/javascript" charset="UTF-8"></script>
    <script>
        $(function () {
            <%# console.log(tempHeight); // 输出undefined
            var tempHeight = $(".content").width(); %>

        })
    </script>
</body>
</html>